# DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Spring Boot
SPRING_PROFILES_ACTIVE=
APP_PORT=
SERVER_PORT=

# Docker
COMPOSE_PROJECT_NAME=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_S3_PRESIGNED_URL_EXPIRATION=
STORAGE_TYPE=
STORAGE_LOCAL_ROOT_PATH=
