<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 로그 패턴, 파일 경로 설정 -->
    <property name="LOG_DIR" value="./logs/" />
    <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId} | %X{requestMethod} | %X{requestUri}] - %msg%n" />

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- file appendder -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- dev 환경: DEBUG -->
    <springProfile name="dev">
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="com.sprint.mission.discodeit" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- prod 환경: INFO -->
    <springProfile name="prod">
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="com.sprint.mission.discodeit" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>